#root {
  margin: 0 auto;
}

.header {
  background: #1abc9c;
  color: white;
  font-size: 1rem;
  overflow: hidden;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.section {
  flex: auto;
}
